:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --second-text-accent: #ffffff;
  --background-color: #ffffff;
  --sec-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --logo-color: #000000;
  --filter-color: #f5f4fa;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  сolor: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;

  letter-spacing: 0.03em;
}
/* основной цвет текста #757575;*/
/*вторичный цвет текста background: #212121;*/
/*background: #000000;
/*background: #FFFFFF;
/*акцент: #2196F3;
/*background: #F5F4FA;*/
/*background-color 2F303A */
/*background-colorFFFFFF*/

/*header-main-container*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  max-width: 1600;
  height: 600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
}

.heading-container {
  width: 696px;
  margin: 0 auto;
}

.header-info {
  /*display: flex;*/
  border: 1px solid #ececec;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /*border-bottom: tomato;*/
}

/*logo*/
.logo {
  display: inline-block;
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.a .logo {
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.logo-accent {
  color: var(--accent);
}

/*убирает точки со всех списков*/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Site nav*/

.all-nav {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}
.site-nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent);
}

.site-nav-list .link.current {
  color: var(--accent);
}

.site-nav-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
}

.site-nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.logo-nav {
  display: inline-block;
  margin-right: 93px;
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header .container {
  outline: 2px solid tomato;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/*герой*/

.hero .overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) ,
      rgba(47, 48, 58, 0.4) 
    ),
  
  url(../images/hero-img.jpg);
   
  background-color: var{--sec-background-color};
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

/.hero {
  outline: 2px solid tomato;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  /*background-color: var(--sec-background-color);*/
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-accent);
}

/*section*/
.section .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-decoration: none;
}

/*features-list*/
.features-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.features-list {
  display: flex;
  /*flex-wrap: wrap;*/
  margin-left: -30px;
  margin-top: -30px;
  /*padding-bottom: 94px;
  padding-top: 94px;*/
}

.features-list-item {
  width: 270px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4-30px);
}

/*Иконки к нашим преимуществам*/
.features-list {
  
}

.features-list-item:nth-child(1)::before {
  contain: '';
  display: inline-block;
  outline: 1px solid tomato;
  height: 120px;
  width: 270px;
  background-color: teal;

 
  background-image: url('../images/antenna1.svg');
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: contain;
  
}

.features-list-item:nth-child(2)::before {
  display: block;
  height: 120px;
  background-image: url('../images/antenna1.svg');
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
}

/*кнопка заказать услугу*/

.button-heading {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--second-text-accent);
  background-color: var(--accent);
  border: 1px solid tansparent;
  border-radius: 4px;

  cursor: pointer;
  outline: transparent;
}

.button:hover,
.button:focus {
  background-color: var(--background-color);
  color: var(--accent);
}
/*our advantages*/

.advantages-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-list-item.item:not(:last-child) {
  margin-right: 30px;
}

.advantages-link {
  contain: '';
  display: block;
  background-size:center;
  padding: 0;
  border: none;
}

/*.advantages-link:not(:last-child) {
  margin-right: 30px;
}*/

.advantages-icon {
  width: 270px;
  height: 120px;
  margin-left: 30px;
  background-position: center;
  background-repeat: no-repeat;
  
  background-color: #F5F4FA;
}

/*.advantages-icon:not(:first-child) {
  margin-left: 30px;
}*/


.our-advantages .text {
  margin-top: 0;
  margin-bottom: 0;
}

.our-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-advantages .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*our duties*/
.our-duties {
  padding-bottom: 94px;
  outline: 2px solid tomato;
}
.our-duties-list {
  display: flex;
  /*flex-wrap: wrap;*/
  margin-left: -30px;
  margin-top: -30px;
  flex-basis: calc(100% / 3-30px);
}

.duties-item {
  margin-left: 30px;
  margin-top: 30px;
}

/*section our-team*/

.our-team .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.our-team {
  background-color: var(--filter-color);
  padding-bottom: 94px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  flex-basis: (100%/4-30px);
  /*padding-bottom: 94px;*/
}

.our-team .section-title {
  /*padding-top: 94px;*/
}
.team-member {
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*our team */
.team-member-body {
padding-top: 30px;
padding-bottom: 30px;
padding-left: 32px;
padding-right: 32px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;
  
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.profession {
  margin-top: 0;
  margin-bottom: 16px;
  
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-link {
  padding: 0;
  border: none;
}

.team-icon {
 /* width: 44px;
  height: 44px;*/
  
  
}
.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

/*contacts*/
.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--second-text-accent);
}
.contacts .link {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .mail-header::before {
  content:"";
  display: inline-block;
  width: 16px;
  height: 12px;
  background-image: url(../images/envelope.svg);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;

}

.contacts .tel-header::before {
  content:"";
  display: inline-block;
  width: 10px;
  height: 16px;
  background-image: url(../images/smartphone.svg);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent);
}

.contacts {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .item + .item {
  margin-left: 50px;
}

/* our projects */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*фильтр*/

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.projects-filter {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;

  margin-left: auto;
  margin-right: auto;
}

/*.our-projects .container {
  align-items: center;
}*/

.our-projects {
  margin-top: 94px;
}

.filter {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: var(--filter-color);
  background-color: var(--filter-color);
  cursor: pointer;
}

.filter:hover {
  background-color: var(--accent);
  border-color: var(--accent);
}

/*2 вариант*/
.our-projects .container {
  width: 1200px;
}
.project-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
  list-style: none;
  background-color: teal;
}

.project-item {
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #eeeeee;
  background-color: tomato;
}

.project-item:nth-child(-n + 3) {
  margin-top: 0;
}

/*.project-item:nth-child(3n + 1) {
  margin-left: 0;
}

.project-item:nth-child(3n + 1) {
  margin-left: 0;
}*/
.img-card {
  display: block;
}

.project-link {
  display: block;
}
/*1 вариант*/
/*.project-item {
  width: 370px;
  background-color: tomato;
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
*/

/*project-set
.our-projects .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  outline: 2px solid tomato;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.our-projects {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.project-set {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
  background-color: tomato;
}

.project-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 370px;
  flex-basis: calc(100% / 3-30px);
  margin-left: 30px;
  margin-top: 30px;

  border: 1px solid #eeeeee;
}

.project-item:nth-child(3n) {
  margin-left: 0px;
}
*/
/*.img-card {
  display: block;
}*/

.card-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0;

  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.project-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1, 9;
  text-decoration: none;
}
.project-link {
  text-decoration: none;
}

footer {
  outline: 2px solid tomato;
  padding-top: 60px;
  padding-bottom: 60px;
  /*padding-left: 215px;
  padding-right: 215pxpx;*/
  background-color: var(--sec-background-color);
}

footer .container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;

  background-color: var(--sec-background-color);
}
.footer-section {
  display: flex;
  align-items: flex-start;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  

}

.footer-address {
  display: block;
  margin-right: 70px;
  justify-content: flex-start;
  
}

.footer-sotial-networks {
  display: block;
  justify-content: flex-start;
  padding: 0;
}

footer .logo {
  color: white;
}

.header .logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.email,
.phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
/*.email {
  margin-bottom: 9px;
}*/
.email-li {
  margin-bottom: 9px;
}

/*присоединяйтесь*/
.join {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-text-accent);
}
.join-social-network {
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.join-social-network-item {
  contain: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 0;
  border: none;
  background-position: center;
      
}

.join-social-network-item:not(:last-child) {
  margin-right: 10px;
}

.link-icon {
  display: block;
 
}